@mixin mq($screen-size) {
  @media only screen and (min-width: $screen-size) {
    @content;
  }
}

@mixin desktopFirst($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}

// Screen Sizes
$screen-small: 440px;
$screen-card_special: 700px;
$screen-tablet: 900px;
$screen-tablet-footer: 750px;
$screen-desktop: 1200px;
