@mixin mq($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}

$screen-small: 440px;
$screen-card_special: 700px;
$screen-mobile: 900px;
$screen-desktop-1100: 1100px;
$screen-desktop: 1366px;
