@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.about-us-icons-services {
  max-width: 1140px;
  margin: 20px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "child-one" "child-two" "child-three";
  @include mq($screen-tablet) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px;
    line-height: 1.3;
    padding: 0 32px;
    max-width: 660px;
    margin: 16px auto;
    text-align: center;
    @include mq($screen-small) {
      padding: 0 16px;
    }
  }
  p {
    font-size: 1.125rem;
    line-height: 1.5;
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    padding: 0 32px;
    @include mq($screen-small) {
      padding: 0 16px;
    }
  }

  .child-one-icons {
    text-align: center;
  }
  .child-two-icons {
    text-align: center;
  }
  .child-three-icons {
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.services-billboard {
  max-width: 1140px;
  margin: 50px auto 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "child-one child-two";
  h1 {
    font-weight: bold;
    color: $dark-blue;
    font-size: 3.8rem;
    line-height: 1.2;
  }
  h2 {
    color: $lighter-black;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: $default-padding16 0;
  }

  .buttons {
    display: flex;
    margin-top: 16px;
  }
  .child-one-services{
    grid-area: child-one;
    padding-left: 24px;
    margin: auto 0;
  }
  .child-two-services {
    grid-area: child-two;
    padding-right: 24px;
    margin: auto 0;
    img {
      max-width: 100%;
      height: auto;

    }
  }
}

@include mq($screen-tablet) {
    .services-billboard {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, auto);
      grid-template-areas: "child-one";
      margin: 0px auto;
      outline: 1px solid red;
      h1 {
        font-size: 3rem;
        line-height: 1.2;
    
      }
      h2{
        padding: 16px 16px;
        text-align: center;
      }
      .child-one-services {
        grid-area: child-one;
        padding: 0 16px;
      }

      .child-two-services {
        display: none;
      }

      .buttons {
        display: grid;
        grid-gap: 10px;
        margin-top: 16px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "button-one";
      }
    }
  }


  .services-technologies {
    max-width: 1140px;
    margin: 30px auto 20px;
    outline: 1px solid red;
    .services-technologies-container{
      display: flex;

      .html-svg{
        outline: 1px solid red;
        width: 120px;
        
      }
      .css-svg{     
        outline: 1px solid red;
        width: 120px;
        
      }
      .js-svg{     
        outline: 1px solid red;
        width: 85px;
   
      }
      .react-svg{     
        outline: 1px solid red;
        width: 120px;
        margin: auto 0;
       
      }

    }
    
  }