.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

@media (max-width: 700px) {
  .showcase-content {
    text-align: center;
  }
  .showcase-content div {
    width: 100%;
  }
  .showcase-content h1 {
    font-size: 2em;
  }
  .showcase-content img {
    display: none;
  }
}

.services-page-hero {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.services-page-hero img {
  max-width: 100%;
}

.services-main-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
}

@media only screen and (min-width: 900px) {
  .services-page-billboard {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "services-billboard-child-one" "services-billboard-child-two";
  }
  .services-page-billboard .services-page-billboard-child-one {
    padding-bottom: 16px;
  }
}

.services-tech-mobile .services-tech-mobile-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  -ms-grid-rows: (1fr)[1fr];
      grid-template-rows: repeat(1fr 1fr);
      grid-template-areas: "services-tech-mobile-child-one" "services-tech-mobile-child-two";
  padding: 0 16px;
  width: 100%;
}

.services-tech-mobile .services-tech-mobile-container .html-svg {
  width: 80%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-container .css-svg {
  width: 80%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-container .js-svg {
  width: 60%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-container .react-svg {
  width: 80%;
  margin: auto 0;
  padding: 10px 8px 0;
}

.services-tech-mobile .services-tech-mobile-container .node-svg {
  width: 40%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-container .wordpress-svg {
  width: 30%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-container .typescript-svg {
  width: 30%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-container .nginx-svg {
  width: 40%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-container .apache-svg {
  width: 30%;
  padding: 0 8px;
}

.services-tech-mobile .services-tech-mobile-child-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-tech-mobile .services-tech-mobile-child-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 900px) {
  .services-tech-mobile {
    display: none;
  }
}

.services-tech {
  display: none;
}

@media only screen and (min-width: 900px) {
  .services-tech {
    display: block;
    max-width: 1200px;
    margin: 30px auto 40px;
    padding: 0 24px;
  }
  .services-tech .services-tech-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-tech .services-tech-container .html-svg {
    width: 100px;
  }
  .services-tech .services-tech-container .css-svg {
    width: 100px;
  }
  .services-tech .services-tech-container .js-svg {
    width: 72px;
  }
  .services-tech .services-tech-container .react-svg {
    width: 100px;
    margin: auto 0;
  }
  .services-tech .services-tech-container .node-svg {
    width: 120px;
    margin: auto 0;
  }
  .services-tech .services-tech-container .wordpress-svg {
    width: 80px;
    margin: auto 0;
  }
  .services-tech .services-tech-container .typescript-svg {
    width: 80px;
    margin: auto 0;
  }
  .services-tech .services-tech-container .nginx-svg {
    width: 80px;
    margin: auto 0;
  }
  .services-tech .services-tech-container .apache-svg {
    width: 80px;
    margin: auto 0;
  }
}

.services-three-columns {
  max-width: 1200px;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "child-one" "child-two" "child-three";
}

.services-three-columns h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 16px;
  line-height: 1.3;
  padding: 0 32px;
  max-width: 660px;
  margin: 16px auto;
  text-align: center;
}

.services-three-columns p {
  font-size: 1.125rem;
  line-height: 1.5;
  max-width: 660px;
  margin: 0 auto;
  text-align: center;
  padding: 0 32px;
}

.services-three-columns .services-three-columns-child-one {
  text-align: center;
}

.services-three-columns .services-three-columns-child-two {
  text-align: center;
}

.services-three-columns .services-three-columns-child-three {
  text-align: center;
}

.services-three-columns img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 900px) {
  .services-three-columns {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "child-one" "child-two" "child-three";
    grid-gap: 10px;
  }
}
/*# sourceMappingURL=Services.css.map */