@import "../../sass/utilities";
@import "../../sass/config";
@import "../../sass/mixins";

.title__section {
  margin: 20px auto;
  padding: 0 16px;
  h3 {
    margin-top: 0px;
    text-align: center;
    font-size: 1.2rem;
    color: $light-gray;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    color: $dark-blue;
    line-height: 3rem;
  }
}

@include mq($screen-tablet) {
  .title__section {
    max-width: 1140px;
  }
}
