@import "../../sass/mixins";
@import "../../sass/config";

.image__column {
  .image__column-image-wrapper {
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .grid__title {
    padding: 0 16px;
    max-width: 600px;
    margin: 10px auto;
    h2 {
      color: $dark-red;
      font-weight: 600;
      padding-top: 8px;
      text-align: center;
      font-size: 24px;
    }
  }
  .grid__paragraph {
    padding: 0 16px;
    max-width: 600px;
    margin: 0 auto;
    p {
      font-size: 1.2rem;
      text-align: center;
      padding-bottom: 24px;
    }
  }
}

@include mq($screen-tablet) {
  .image__column {
    .image__column-image-wrapper {
      min-width: 400px;
      height: auto;
    }
    .grid__paragraph {
      p {
        padding-bottom: 0px;
      }
    }
  }
}

@include mq($screen-desktop) {
  .image__column {
    .image__column-image-wrapper {
      width: 520px;
      height: auto;
    }
  }
}
