.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

@media (max-width: 700px) {
  .showcase-content {
    text-align: center;
  }
  .showcase-content div {
    width: 100%;
  }
  .showcase-content h1 {
    font-size: 2em;
  }
  .showcase-content img {
    display: none;
  }
}

.cards__container {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 0 26px 0;
}

@media only screen and (max-width: 1100px) {
  .cards__container {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 900px) {
  .cards__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .cards__container .card__child__hide {
    display: none;
  }
  .cards__container .card__child__active {
    display: block;
  }
  .cards__container .animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    80% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes bounceInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    80% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .cards__container .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
  }
  @-webkit-keyframes bounceInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes bounceInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .cards__container .bounceInRight {
    -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
  }
}

.card__child__two__swap {
  padding-left: 500px;
}

#rocket {
  -webkit-animation: topBottom 5s infinite;
          animation: topBottom 5s infinite;
}

@-webkit-keyframes topBottom {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes topBottom {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -200px);
            transform: translate(0, -200px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.button__div {
  position: relative;
}

.button__div button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button__div svg {
  padding: 6px;
}

.button__div .arrow {
  cursor: pointer;
  position: absolute;
  margin-top: -325px;
  width: 70px;
  height: 90px;
}

.button__div .left {
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .button__div .left {
    visibility: visible;
    left: 20px;
  }
}

@media only screen and (max-width: 440px) {
  .button__div .left {
    left: -10px;
  }
}

.button__div .right {
  visibility: hidden;
}

@media only screen and (max-width: 900px) {
  .button__div .right {
    visibility: visible;
    right: 20px;
  }
}

@media only screen and (max-width: 440px) {
  .button__div .right {
    right: -10px;
  }
}

.button__div .arrow-active polyline {
  stroke-width: 3;
}

.button__div .left:hover polyline {
  stroke-width: 3;
}

.button__div .left:active polyline {
  stroke-width: 6;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.button__div .right:hover polyline {
  stroke-width: 3;
}

.button__div .right:active polyline {
  stroke-width: 6;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.button__div polyline {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/*# sourceMappingURL=Cards.css.map */