@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.cards__container {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px 0 26px 0;
  @include mq($screen-desktop) {
    margin: 0 20px;
  }

  @include mq($screen-tablet) {
    grid-template-columns: repeat(1, 1fr);
    .card__child__hide {
      display: none;
    }
    .card__child__active {
      display: block;
    }


    .animated {
      background-repeat: no-repeat;
      background-position: left top; 
      animation-duration: 1s; 
      animation-fill-mode: both; 
   }
   
   
   @keyframes bounceInLeft {
      0% {
         opacity: 0;
         transform: translateX(-200px);
      }
      60% {
         opacity: 1;
         transform: translateX(0px);
      }
      80% {
         transform: translateX(-10px);
      }
      100% {
         transform: translateX(0);
      }
   }
   
   .bounceInLeft {
      animation-name: bounceInLeft;
   }

   @keyframes bounceInRight {
    0% {
       opacity: 0;
       transform: translateX(200px);
    }
    60% {
       opacity: 1;
       transform: translateX(0px);
    }
    80% {
       transform: translateX(10px);
    }
    100% {
       transform: translateX(0);
    }
 }
 
 .bounceInRight {
    animation-name: bounceInRight;
 }
  }
}


.button__div {
  position: relative;
  button {
    background: transparent;
    border: 0;
    outline: 0;
  }

  svg {
    padding: 6px;
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    margin-top: -325px;
    width: 70px;
    height: 90px;
  }

  .left{
    visibility: hidden;
    @include mq($screen-tablet) {
      visibility: visible;
      left: 0px;
    }
 
  }
  .right{
    visibility: hidden;
    @include mq($screen-tablet) {
      visibility: visible;
      right: 0px;
    }
  }

  .arrow-active polyline {
    stroke-width: 3;
  }
  
  .left:hover polyline {
    stroke-width: 3;
  }

  .left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }

  .right:hover polyline {
    stroke-width: 3;
  }

  .right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }

  polyline {
    transition: all 250ms ease-in-out;
  }
}

@include mq($screen-tablet) {

.dot{
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  transition: all .6s ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.current{
  background: $dark-red;
}

.dots-container{
  display: flex;
  margin: 0 auto;
  width: 80px;
}
}
