@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.cards-wrapper {
  display: none;
}
.cards-wrapper-mobile{
  display: block;
}

@include mq($screen-tablet) {
  .cards-wrapper {
    display: block;
    .cards__container {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      margin: 0 auto;
      padding: 10px 0 26px 0;
    }
  }
  .cards-wrapper-mobile{
    display: none;
  }
}
