@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.digital-services-billboard {
	display: grid;
	min-height: 100%;
	grid-gap: 30px;
	grid-template-columns: repeat(1, auto);
	grid-template-rows: repeat(2, auto);
	grid-template-areas:
		"digital-services-child-one"
		"digital-services-child-two";
	margin: 60px auto;
	padding: 0 16px;

	h1 {
		color: $dark-blue;
		font-size: 2.8rem;
		line-height: 1.2;
	}
	h2 {
		color: $lighter-black;
		font-size: 1.2rem;
		line-height: 2rem;
		padding: $default-padding16 0;
	}
	h3 {
		color: $dark-red;
		font-weight: 600;
	}
	.digital-services-child-one {
		grid-area: digital-services-child-one;
		ul li:before {
			content: "\2713";
			display: inline-block;
			color: $dark-red;
			padding: 0 6px 0 0;
		}
		ul li {
			list-style-type: none;
			font-size: 1em;
		}
	}
	.digital-services-child-two {
		grid-area: digital-services-child-two;
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
		.btn-video {
			display: block;
			position: relative;
		}
		.btn-video:before {
			content: "";
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			background: rgba(0, 0, 0, 0.1);
			opacity: 0;
			visibility: hidden;
			-webkit-transition: 0.3s all ease;
			-o-transition: 0.3s all ease;
			transition: 0.3s all ease;
		}
		.btn-video .wrap-icon-play {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			background: whitesmoke;
			border-radius: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
			box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
		}
		.btn-video .wrap-icon-play > svg {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
		.btn-video:hover:before {
			opacity: 1;
			visibility: visible;
		}
	}
}
@include mq($screen-tablet) {
	.digital-services-billboard {
		max-width: 1200px;
		margin: 120px auto;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-template-areas: "digital-services-child-one digital-services-child-two";
		h1 {
			color: $dark-blue;
			font-size: 2.8rem;
			line-height: 1.2;
		}
		h2 {
			color: $lighter-black;
			font-size: 1.2rem;
			line-height: 2rem;
			padding: $default-padding16 0;
		}
		h3 {
			color: $dark-red;
			font-weight: 600;
		}
		.digital-services-child-one {
			grid-area: digital-services-child-one;
			padding-left: 24px;
			padding-right: 24px;
			margin: auto 0;
	
			ul li:before {
				content: "\2713";
				display: inline-block;
				color: red;
				padding: 0 6px 0 0;
			}
			ul li {
				list-style-type: none;
				font-size: 1em;
			}
		}
		.digital-services-child-two {
			grid-area: digital-services-child-two;
			padding-right: 24px;
			margin: auto 0;
			.btn-video {
				display: block;
				position: relative;
			}
			.btn-video:hover:before {
				opacity: 1;
				visibility: visible;
			}
	
			.btn-video:before {
				content: "";
				position: absolute;
				top: 10px;
				left: 10px;
				right: 10px;
				bottom: 20px;
				background: rgba(0, 0, 0, 0.1);
				opacity: 0;
				visibility: hidden;
				-webkit-transition: 0.3s all ease;
				-o-transition: 0.3s all ease;
				transition: 0.3s all ease;
			}
		}
	}
}

@include mq($screen-desktop) {
	.digital-services-billboard {
		.digital-services-child-two {
			img {
				height: 480px;
				width: auto;
			}
		}
	}
}
