.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

@media (max-width: 700px) {
  .showcase-content {
    text-align: center;
  }
  .showcase-content div {
    width: 100%;
  }
  .showcase-content h1 {
    font-size: 2em;
  }
  .showcase-content img {
    display: none;
  }
}

.secondary__billboard {
  max-width: 1140px;
  margin: 120px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
      grid-template-areas: "child-one child-two";
}

.secondary__billboard h1 {
  color: #508EBC;
  font-size: 2.8rem;
  line-height: 1.2;
}

.secondary__billboard h2 {
  color: #5f5f5f;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 16px 0;
}

.secondary__billboard .child-one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: child-one;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto 0;
}

.secondary__billboard .child-one ul li:before {
  content: '\2713';
  display: inline-block;
  color: red;
  padding: 0 6px 0 0;
}

.secondary__billboard .child-one ul li {
  list-style-type: none;
  font-size: 1em;
}

.secondary__billboard .child-two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: child-two;
  padding-right: 24px;
  margin: auto 0;
}

.secondary__billboard .child-two img {
  height: 480px;
}

.secondary__billboard .child-two .btn-video {
  display: block;
  position: relative;
}

.secondary__billboard .child-two .btn-video:hover:before {
  opacity: 1;
  visibility: visible;
}

.secondary__billboard .child-two .btn-video:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

@media only screen and (max-width: 900px) {
  .main__billboard {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[1];
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "child-one";
    margin-bottom: 24px;
    margin-top: 0px;
  }
  .main__billboard h1 {
    font-size: 3.0rem;
    line-height: 1.2;
  }
  .main__billboard .child-one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: child-one;
    padding: 0 16px;
  }
  .child-two {
    display: none;
  }
  .buttons {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    margin-top: 16px;
    text-align: center;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "button-one, button-two";
  }
}
/*# sourceMappingURL=BillboardTwo.css.map */