.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

@media (max-width: 700px) {
  .showcase-content {
    text-align: center;
  }
  .showcase-content div {
    width: 100%;
  }
  .showcase-content h1 {
    font-size: 2em;
  }
  .showcase-content img {
    display: none;
  }
}

.header {
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: transparent;
  height: 50px;
  z-index: 3;
  margin: 0 auto;
}

.header__slide__down {
  position: fixed;
  height: 50px;
  top: 0%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #fff;
  color: #151618;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-animation: navbar-slice-down 1s;
          animation: navbar-slice-down 1s;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__logo {
  display: block;
  width: 38px;
  margin: 6px 0 0 16px;
}

@-webkit-keyframes navbar-slice-down {
  0% {
    top: -70px;
  }
  35% {
    background-color: #fff;
    color: #fff;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes navbar-slice-down {
  0% {
    top: -70px;
  }
  35% {
    background-color: #fff;
    color: #fff;
  }
  100% {
    background-color: #fff;
  }
}

.header__link__item {
  display: none;
}

.header .hamburger-menu-mobile {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header .hamburger-menu-mobile #toggleMenu {
  top: 16px;
  right: 0px;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.header .hamburger-menu-mobile #toggleMenu a {
  text-decoration: none;
  color: #508EBC;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header .hamburger-menu-mobile #toggleMenu a:hover {
  color: #1f2732;
}

.header .hamburger-menu-mobile #toggleMenu input {
  display: block;
  width: 44px;
  height: 36px;
  position: absolute;
  top: -7px;
  right: 14px;
  cursor: pointer;
  opacity: 0;
  /*  hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.header .hamburger-menu-mobile #toggleMenu span {
  display: block;
  width: 33px;
  height: 4px;
  right: 20px;
  margin-bottom: 5px;
  position: relative;
  background: #508EBC;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.header .hamburger-menu-mobile #toggleMenu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header .hamburger-menu-mobile #toggleMenu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.header .hamburger-menu-mobile #toggleMenu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(6px, -5px);
          transform: rotate(45deg) translate(6px, -5px);
  background: #508EBC;
}

.header .hamburger-menu-mobile #toggleMenu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.header .hamburger-menu-mobile #toggleMenu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(4px, 7px);
          transform: rotate(-45deg) translate(4px, 7px);
}

.header .hamburger-menu-mobile #menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 30px;
  padding-top: 100px;
  right: 0px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 10px;
          transform-origin: 10px;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.header .hamburger-menu-mobile #menu li {
  padding: 10px 0;
  font-size: 22px;
}

.header .hamburger-menu-mobile #toggleMenu input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.header .header__toggle__dark_mode_container {
  position: absolute;
  right: 40px;
  top: 18px;
}

.header .header__toggle__dark_mode_container .dark-toggle-input {
  overflow: hidden;
  padding: 16px 0 0 30px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header .header__toggle__dark_mode_container .dark-toggle-input input {
  position: absolute;
  left: -99em;
}

.header .header__toggle__dark_mode_container .toggle {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 26px;
  background-color: #83d8ff;
  border: 3px solid;
  border-radius: 84px;
  -webkit-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-top-color: #2a9df4;
  border-right-color: #2a9df4;
  border-bottom-color: #2a9df4;
  border-left-color: #2a9df4;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.03s, border-left-color 0.15s linear 0.045s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.03s, border-left-color 0.15s linear 0.045s;
}

.header .header__toggle__dark_mode_container .toggle:before {
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}

.header .header__toggle__dark_mode_container .toggle:after {
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
}

.header .header__toggle__dark_mode_container .handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #ffcf96;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .header__toggle__dark_mode_container .handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.header .header__toggle__dark_mode_container .handler .crater1 {
  top: 14px;
  left: 6px;
  width: 4px;
  height: 4px;
}

.header .header__toggle__dark_mode_container .handler .crater2 {
  top: 8px;
  left: 12px;
  width: 6px;
  height: 6px;
}

.header .header__toggle__dark_mode_container .handler .crater3 {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
}

.header .header__toggle__dark_mode_container .star {
  position: absolute;
  background-color: #ffffff;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.header .header__toggle__dark_mode_container .star1 {
  top: 3px;
  left: 22px;
  z-index: 0;
  width: 16px;
  height: 2.5px;
}

.header .header__toggle__dark_mode_container .star2 {
  top: 8px;
  left: 16px;
  z-index: 1;
  width: 16px;
  height: 3px;
}

.header .header__toggle__dark_mode_container .star3 {
  top: 14px;
  left: 20px;
  z-index: 0;
  width: 20px;
  height: 3px;
}

.header .header__toggle__dark_mode_container .star4,
.header .header__toggle__dark_mode_container .star5,
.header .header__toggle__dark_mode_container .star6 {
  opacity: 0;
  -webkit-transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header .header__toggle__dark_mode_container .star4 {
  top: 3px;
  left: 4px;
  z-index: 0;
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

.header .header__toggle__dark_mode_container .star5 {
  top: 10px;
  left: 18px;
  z-index: 0;
  width: 3px;
  height: 3px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

.header .header__toggle__dark_mode_container .star6 {
  top: 16px;
  left: 6px;
  z-index: 0;
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

.header .header__toggle__dark_mode_container input:checked + .toggle {
  background-color: #749dd6;
  border-top-color: #605885;
  border-right-color: #605885;
  border-bottom-color: #605885;
  border-left-color: #605885;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.03s, border-left-color 0.15s linear 0.045s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.03s, border-left-color 0.15s linear 0.045s;
}

.header .header__toggle__dark_mode_container input:checked + .toggle .handler {
  background-color: #ffe5b5;
  -webkit-transform: translate3d(24px, 0, 0) rotate(0);
          transform: translate3d(24px, 0, 0) rotate(0);
}

.header .header__toggle__dark_mode_container input:checked + .toggle .handler .crater {
  opacity: 1;
}

.header .header__toggle__dark_mode_container input:checked + .toggle .star1 {
  width: 2px;
  height: 2px;
}

.header .header__toggle__dark_mode_container input:checked + .toggle .star2 {
  width: 4px;
  height: 4px;
  -webkit-transform: translate3d(-5px, 0, 0);
          transform: translate3d(-5px, 0, 0);
}

.header .header__toggle__dark_mode_container input:checked + .toggle .star3 {
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(-7px, 0, 0);
          transform: translate3d(-7px, 0, 0);
}

.header .header__toggle__dark_mode_container input:checked + .toggle .star4,
.header .header__toggle__dark_mode_container input:checked + .toggle .star5,
.header .header__toggle__dark_mode_container input:checked + .toggle .star6 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.header .header__toggle__dark_mode_container input:checked + .toggle .star4 {
  -webkit-transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header .header__toggle__dark_mode_container input:checked + .toggle .star5 {
  -webkit-transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header .header__toggle__dark_mode_container input:checked + .toggle .star6 {
  -webkit-transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media only screen and (min-width: 900px) {
  .hamburger-menu-mobile {
    display: none;
  }
  .header {
    height: 70px;
  }
  .header__main {
    height: 70px;
  }
  .header__slide__down {
    height: 70px;
  }
  .header__logo {
    margin: 0 24px;
    width: 48px;
  }
  .header__links {
    position: relative;
    margin: 0 24px;
  }
  .header__link__item {
    display: inline-block;
    padding: 8px;
    margin: 0 12px;
    cursor: pointer;
    color: #508EBC;
  }
  .header li {
    position: relative;
  }
  .header li:hover::before {
    content: "[";
    color: #508EBC;
    -webkit-animation: left-bracket;
            animation: left-bracket;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .header li:hover::after {
    content: "]";
    color: #508EBC;
    -webkit-animation: right-bracket;
            animation: right-bracket;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .header li.active::before {
    content: "[";
    color: #508EBC;
    -webkit-animation: left-bracket;
            animation: left-bracket;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .header li.active::after {
    content: "]";
    color: #508EBC;
    -webkit-animation: right-bracket;
            animation: right-bracket;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes left-bracket {
    0% {
      left: -4px;
      opacity: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    100% {
      left: -4px;
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes left-bracket {
    0% {
      left: -4px;
      opacity: 0;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    100% {
      left: -4px;
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes right-bracket {
    from {
      right: -4px;
      opacity: 0;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
    to {
      right: -4px;
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes right-bracket {
    from {
      right: -4px;
      opacity: 0;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
    to {
      right: -4px;
      opacity: 1;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  .header .header__toggle__dark_mode_container {
    top: 30px;
    right: 540px;
  }
}

.arrow-wrapper {
  max-width: 1140px;
}

.arrow-circle {
  z-index: 9999;
  position: fixed;
  right: 32px;
  width: 100%;
  bottom: 24px;
  background: #AE3C43;
  text-decoration: none;
  border-radius: 50%;
  display: block;
  height: 48px;
  width: 48px;
  cursor: pointer;
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop-arrow {
  position: fixed;
  right: 44px;
  width: 100%;
  bottom: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.arrow-circle:hover {
  opacity: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=Header.css.map */