@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.header {
  height: 70px;
  position: relative;
   margin: 0 auto;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    background-color: transparent;
    height: 70px;
    z-index: 3;
    margin: 0 auto;
    // @include mq($screen-tablet) {
    //   width: 100%;
    //   position: fixed;
    //   background-color: #fff;
    // }
  }
  &__slide__down {
    position: fixed;
    height: 70px;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    background-color: #fff;
    color: $dark-black;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: navbar-slice-down 1s;
    left: 50%;
    transform: translate(-50%, 0);
    @include mq($screen-tablet) {
     
    }
  }
  &__logo {
    margin: 0 24px;
    width: 48px;
  }
  &__links {
    position: relative;
    margin: 0 24px;
  }
  &__toggle__dark_mode_container {
    position: absolute;
    right: 330px;
    top: 24px;
    @include mq($screen-tablet) {
      right: 40px;
      top: 18px;
    }
  }
  &__link__item {
    display: inline-block;
    padding: 8px;
    margin: 0 12px;
    cursor: pointer;
    color: $primary-color;
  }
  li {
    position: relative;
  }
  li:hover::before {
    content: "[";
    color: $primary-color;
    animation: left-bracket;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: absolute;
    animation-fill-mode: forwards;
  }
  li:hover::after {
    content: "]";
    color: $primary-color;
    animation: right-bracket;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: absolute;
    animation-fill-mode: forwards;
  }
  @keyframes navbar-slice-down {
    0% {
      top: -70px;
    }
    35% {
      background-color: #fff;
      color: #fff;
    }

    100% {
      background-color: #fff;
    }
  }
  @keyframes left-bracket {
    0% {
      left: -4px;
      opacity: 0;
      transform: rotate(90deg);
    }

    100% {
      left: -4px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @keyframes right-bracket {
    from {
      right: -4px;
      opacity: 0;
      transform: rotate(-90deg);
    }

    to {
      right: -4px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}

@include mq($screen-tablet) {
  .header__link__item {
    display: none;
  }
  .header__logo {
    min-width: 38px;
    width: 38px;
    margin: 6px 0 0 16px;
  }
  .header {
    &__main {
      height: 50px;
    }
    &__slide__down {
      height: 50px;
    }
    li:hover::before {
      display: none;
    }
    li:hover::after {
      display: none;
    }
  }
}

.dark-toggle-input {
  overflow: hidden;
  padding: 28px 0 0 12px;
  transform: translate3d(-50%, -50%, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  input {
    position: absolute;
    left: -99em;
  }
  @include mq($screen-tablet) {
    padding: 16px 0 0 30px;
  }
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 26px;
  background-color: #83d8ff;
  border: 3px solid;
  border-radius: 90px - 6;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  border-top-color: #2a9df4;
  border-right-color: #2a9df4;
  border-bottom-color: #2a9df4;
  border-left-color: #2a9df4;

  transition: border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.015s,
    border-bottom-color 0.15s linear 0.03s,
    border-left-color 0.15s linear 0.045s;

  &:before {
    position: absolute;
    left: -50px;
    top: 15px;
    font-size: 18px;
  }

  &:after {
    position: absolute;
    right: -48px;
    top: 15px;
    font-size: 18px;
  }
}

.handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 26px - 6;
  height: 26px - 6;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);

  .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }

  .crater1 {
    top: 14px;
    left: 6px;
    width: 4px;
    height: 4px;
  }

  .crater2 {
    top: 8px;
    left: 12px;
    width: 6px;
    height: 6px;
  }

  .crater3 {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
  }
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star1 {
  top: 3px;
  left: 22px;
  z-index: 0;
  width: 16px;
  height: 2.5px;
}

.star2 {
  top: 8px;
  left: 16px;
  z-index: 1;
  width: 16px;
  height: 3px;
}

.star3 {
  top: 14px;
  left: 20px;
  z-index: 0;
  width: 20px;
  height: 3px;
}

.star4,
.star5,
.star6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star4 {
  top: 3px;
  left: 4px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star5 {
  top: 10px;
  left: 18px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star6 {
  top: 16px;
  left: 6px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked {
  + .toggle {
    background-color: #749dd6;
    border-top-color: #605885;
    border-right-color: #605885;
    border-bottom-color: #605885;
    border-left-color: #605885;

    transition: border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.015s,
      border-bottom-color 0.15s linear 0.03s,
      border-left-color 0.15s linear 0.045s;

    .handler {
      background-color: #ffe5b5;
      transform: translate3d(24px, 0, 0) rotate(0);

      .crater {
        opacity: 1;
      }
    }

    .star1 {
      width: 2px;
      height: 2px;
    }

    .star2 {
      width: 4px;
      height: 4px;
      transform: translate3d(-5px, 0, 0);
    }

    .star3 {
      width: 2px;
      height: 2px;
      transform: translate3d(-7px, 0, 0);
    }

    .star4,
    .star5,
    .star6 {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    .star4 {
      transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star5 {
      transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    .star6 {
      transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
}




.hamburger-menu-mobile {
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include mq($screen-tablet) {
    display: block;
    #toggleMenu {
      top: 16px;
      right: 0px;
      z-index: 2;
      -webkit-user-select: none;
      user-select: none;
    }

    #toggleMenu a {
      text-decoration: none;
      color: $primary-color;
      transition: color 0.3s ease;
    }

    #toggleMenu a:hover {
      color: $secondary-color;
    }

    #toggleMenu input {
      display: block;
      width: 44px;
      height: 36px;
      position: absolute;
      top: -7px;
      right: 14px;

      cursor: pointer;

      opacity: 0; /*  hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }

    #toggleMenu span {
      display: block;
      width: 33px;
      height: 4px;
      right: 20px;
      margin-bottom: 5px;
      position: relative;

      background: $primary-color;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #toggleMenu span:first-child {
      transform-origin: 0% 0%;
    }

    #toggleMenu span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    #toggleMenu input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(6px, -5px);
      background: $primary-color;
    }

    #toggleMenu input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #toggleMenu input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(4px, 7px);
    }

    #menu {
      position: absolute;
      width: 200px;
      margin: -100px 0 0 -50px;
      padding: 30px;
      padding-top: 100px;
      right: 0px;
      background: white;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      transform-origin: 10px;
      transform: translate(0, -100%);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu li {
      padding: 10px 0;
      font-size: 22px;
    }
    #toggleMenu input:checked ~ ul {
      transform: none;
    }
  }
}