@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";


.header {
  height: 70px;
  position: relative;
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    background-color: transparent;
    height: 70px;
    z-index: 3;
    margin: 0 auto;
  }
  &__slide__down {
    position: fixed;
    height: 70px;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    background-color: #fff;
    color: $dark-black;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: navbar-slice-down 1s;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &__logo {
    margin: 0 24px;
    width: 48px;
  }
  
  &__links {
    position: relative;
    margin: 0 24px;
  }
  &__toggle__dark_mode {
    position: absolute;
    left: -60px;
    top: 10px;
 
  }
  &__link__item {
    display: inline-block;
    padding: 8px;
    margin: 0 12px;
    cursor: pointer;
    color: $primary-color;
  }
  &__link__item__hamburger {
    display: inline-block;
    display: none;
  }
  li {
    position: relative;
  }
  li:hover::before {
    content: "[";
    color: $primary-color;
    animation: left-bracket;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: absolute;
    animation-fill-mode: forwards;
  }
  li:hover::after {
    content: "]";
    color: $primary-color;
    animation: right-bracket;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: absolute;
    animation-fill-mode: forwards;
  }
  @keyframes navbar-slice-down {
    0% {
      top: -70px;
    }
    35% {
      background-color: #fff;
      color: #fff;
    }

    100% {
      background-color: #fff;
    }
  }
  @keyframes left-bracket {
    0% {
      left: -4px;
      opacity: 0;
      transform: rotate(90deg);
    }

    100% {
      left: -4px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @keyframes right-bracket {
    from {
      right: -4px;
      opacity: 0;
      transform: rotate(-90deg);
    }

    to {
      right: -4px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}

@include mq($screen-tablet) {
	 .header__link__item {
		display: none;
  }
  .header__link__item__hamburger {
    display: block;
    color: $primary-color;
    padding: 0;
    margin-top: 6px;
    cursor: pointer;
  }
  .header__logo{
      min-width: 38px;
      width: 38px;
      margin: 6px 0 0 16px;
  }
  .header {
    &__main {
      height: 50px;
    }
    &__slide__down{
      height: 50px;
    }
    li:hover::before {
 
     display: none;
    }
    li:hover::after {
 
      display: none;
}
}

}