.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

@media (max-width: 700px) {
  .showcase-content {
    text-align: center;
  }
  .showcase-content div {
    width: 100%;
  }
  .showcase-content h1 {
    font-size: 2em;
  }
  .showcase-content img {
    display: none;
  }
}

.header {
  height: 70px;
  position: relative;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 2000px;
  width: 100%;
  background-color: transparent;
  height: 70px;
  z-index: 3;
  margin: 0 auto;
}

.header__slide__down {
  position: fixed;
  height: 70px;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 2000px;
  width: 100%;
  background-color: #fff;
  color: #151618;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-animation: navbar-slice-down 1s;
          animation: navbar-slice-down 1s;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__logo {
  margin: 0 24px;
  width: 48px;
}

.header__links {
  position: relative;
  margin: 0 24px;
}

.header__toggle__dark_mode {
  position: absolute;
  left: -60px;
  top: 10px;
}

.header__link__item {
  display: inline-block;
  padding: 8px;
  margin: 0 12px;
  cursor: pointer;
  color: #508EBC;
}

.header__link__item__hamburger {
  display: inline-block;
  display: none;
}

.header li {
  position: relative;
}

.header li:hover::before {
  content: "[";
  color: #508EBC;
  -webkit-animation: left-bracket;
          animation: left-bracket;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  position: absolute;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header li:hover::after {
  content: "]";
  color: #508EBC;
  -webkit-animation: right-bracket;
          animation: right-bracket;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  position: absolute;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes navbar-slice-down {
  0% {
    top: -70px;
  }
  35% {
    background-color: #fff;
    color: #fff;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes navbar-slice-down {
  0% {
    top: -70px;
  }
  35% {
    background-color: #fff;
    color: #fff;
  }
  100% {
    background-color: #fff;
  }
}

@-webkit-keyframes left-bracket {
  0% {
    left: -4px;
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    left: -4px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes left-bracket {
  0% {
    left: -4px;
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    left: -4px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes right-bracket {
  from {
    right: -4px;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    right: -4px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes right-bracket {
  from {
    right: -4px;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    right: -4px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media only screen and (max-width: 900px) {
  .header__link__item {
    display: none;
  }
  .header__link__item__hamburger {
    display: block;
    color: #508EBC;
    padding: 0;
    margin-top: 6px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .header__logo {
    min-width: 38px;
    width: 38px;
    margin: 6px 0 0 16px;
  }
  .header__main {
    height: 50px;
  }
  .header__slide__down {
    height: 50px;
  }
  .header li:hover::before {
    display: none;
  }
  .header li:hover::after {
    display: none;
  }
}

body {
  background-color: #A8FFFF;
  -webkit-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.container {
  overflow: hidden;
  padding: 28px 0 0 12px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container input {
  position: absolute;
  left: -99em;
}

@media only screen and (max-width: 900px) {
  .container {
    padding: 24px 0 0 30px;
  }
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 26px;
  background-color: #83D8FF;
  border: 3px solid;
  border-radius: 84px;
  -webkit-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-top-color: #2A9DF4;
  border-right-color: #2A9DF4;
  border-bottom-color: #2A9DF4;
  border-left-color: #2A9DF4;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.030s, border-left-color 0.15s linear 0.045s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.030s, border-left-color 0.15s linear 0.045s;
}

.toggle:before {
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}

.toggle:after {
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
}

.handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #FFCF96;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.handler .crater {
  position: absolute;
  background-color: #E8CDA5;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.handler .crater1 {
  top: 14px;
  left: 6px;
  width: 4px;
  height: 4px;
}

.handler .crater2 {
  top: 8px;
  left: 12px;
  width: 6px;
  height: 6px;
}

.handler .crater3 {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #ffffff;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star1 {
  top: 3px;
  left: 22px;
  z-index: 0;
  width: 16px;
  height: 2.5px;
}

.star2 {
  top: 8px;
  left: 16px;
  z-index: 1;
  width: 16px;
  height: 3px;
}

.star3 {
  top: 14px;
  left: 20px;
  z-index: 0;
  width: 20px;
  height: 3px;
}

.star4,
.star5,
.star6 {
  opacity: 0;
  -webkit-transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star4 {
  top: 3px;
  left: 4px;
  z-index: 0;
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

.star5 {
  top: 10px;
  left: 18px;
  z-index: 0;
  width: 3px;
  height: 3px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

.star6 {
  top: 16px;
  left: 6px;
  z-index: 0;
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749DD6;
  border-top-color: #605885;
  border-right-color: #605885;
  border-bottom-color: #605885;
  border-left-color: #605885;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.030s, border-left-color 0.15s linear 0.045s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.015s, border-bottom-color 0.15s linear 0.030s, border-left-color 0.15s linear 0.045s;
}

input:checked + .toggle .handler {
  background-color: #FFE5B5;
  -webkit-transform: translate3d(24px, 0, 0) rotate(0);
          transform: translate3d(24px, 0, 0) rotate(0);
}

input:checked + .toggle .handler .crater {
  opacity: 1;
}

input:checked + .toggle .star1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star2 {
  width: 4px;
  height: 4px;
  -webkit-transform: translate3d(-5px, 0, 0);
          transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star3 {
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(-7px, 0, 0);
          transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star4,
input:checked + .toggle .star5,
input:checked + .toggle .star6 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star4 {
  -webkit-transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star5 {
  -webkit-transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star6 {
  -webkit-transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/*# sourceMappingURL=Header.css.map */