@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/buttons";

.header {
  height: 70px;
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    background-color: transparent;
    height: 70px;
    color: $secondary-color;
    z-index: 3;
    margin: 0 auto;
  }
  &__slide__down {
    position: fixed;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    height: 70px;
    background-color: #fff;
    color: $dark-black;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: navbar-slice-down 1s;
    left: 50%;
    transform: translate(-50%, 0);

    li:hover::before {
      content: "[";
      animation: left-bracket;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      position: absolute;
      animation-fill-mode: forwards;
      color: $dark-black;
    }
    li:hover::after {
      content: "]";
      color: $dark-black;
      animation: right-bracket;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      position: absolute;
      animation-fill-mode: forwards;
      color: $dark-black;
    }
  }
  &__logo {
    margin: 0 24px;
    width: 48px;
  }

  &__links {
    margin: 0 24px;
  }
  &__link__item {
    display: inline-block;
    padding: 8px;
    margin: 0 12px;
    cursor: pointer;
  }
  li {
    position: relative;
  }
  li:hover::before {
    content: "[";
    color: $secondary-color;
    animation: left-bracket;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: absolute;
    animation-fill-mode: forwards;
  }
  li:hover::after {
    content: "]";
    color: $secondary-color;
    animation: right-bracket;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    position: absolute;
    animation-fill-mode: forwards;
  }
  @keyframes navbar-slice-down {
    0% {
      top: -70px;
    }
    35% {
      background-color: #fff;
      color: #fff;
    }

    100% {
      background-color: #fff;
    }
  }
  @keyframes left-bracket {
    0% {
      left: -4px;
      opacity: 0;
      transform: rotate(90deg);
    }

    100% {
      left: -4px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
  @keyframes right-bracket {
    from {
      right: -4px;
      opacity: 0;
      transform: rotate(-90deg);
    }

    to {
      right: -4px;
      opacity: 1;
      transform: rotate(0deg);
    }
  }
}