@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.main__billboard {
	margin: 10px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, auto);
	grid-template-areas:
		"main-billboard-child-one"
		"main-billboard-child-two";
	h1 {
		font-size: 2rem;
		line-height: 1.2;
		font-weight: bold;
		color: $dark-blue;
	}
	p {
		color: $lighter-black;
		font-size: 1.2rem;
		line-height: 2rem;
		padding: 16px 0;
	}
	.main-billboard-child-one {
		grid-area: main-billboard-child-one;
		padding: 0 16px;
	}
	.main-billboard-child-two {
		pointer-events: none;
		padding: 8px 16px;
	}
	.billboard-button {
		margin-top: 16px;
		text-align: center;
	}
}

@include mq($screen-tablet) {
	.main__billboard {
		max-width: 1140px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, auto);
		grid-template-areas: "main-billboard-child-one main-billboard-child-two";
		h1 {
			font-size: 3.8rem;
		}
		p {
			color: $lighter-black;
			font-size: 1.2rem;
			line-height: 2rem;
			padding: $default-padding16 0;
		}
		.main-billboard-child-one {
			grid-area: main-billboard-child-one;
			padding-left: 24px;
			margin: auto 0;
		}
		.main-billboard-child-two {
			display: block;
			grid-area: main-billboard-child-two;
			padding-right: 24px;
			margin: auto 0;
			transform: rotateY(180deg);
		}
		.billboard-button {
			margin-top: 16px;
			float: left;
		}
	}
}

//Animations of the billboard -----------------//
#red__circle {
	animation: change-color 3s linear 2s infinite alternate;
}

// #blue-background{
// 	animation: spin 2s infinite linear;
// }
// @keyframes spin {
// 	100% {
// 		transform: rotate(360deg);
// 	}
// }

@keyframes change-color {
	0% {
		fill: #e7515c;
	}
	100% {
		fill: #ae3c43;
	}
}

#blue__circle {
	animation: change-color-blue 1s linear 2s infinite alternate;
}

@keyframes change-color-blue {
	0% {
		fill: #508ebc;
	}
	100% {
		fill: #67c1ef;
	}
}

#light__blue__circle {
	animation: change-color-blue-light 1s linear 2s infinite alternate;
}

@keyframes change-color-blue-light {
	0% {
		fill: #67c1ef;
	}
	100% {
		fill: #508ebc;
	}
}

#text1,
#text6 {
	animation: change-color-paragraph 1s linear 2s infinite alternate;
}

#text2,
#text3 {
	animation: change-color-paragraph 3s linear 2s infinite alternate;
}

#text4,
#text5 {
	animation: change-color-paragraph 3s linear 2s infinite alternate;
}

@keyframes change-color-paragraph {
	0% {
		fill: #dce6f4;
	}
	100% {
		fill: #508ebc;
	}
}

#graph__column__one {
	animation: change-color-graph 3s linear 2s infinite alternate;
}

@keyframes change-color-graph {
	0% {
		fill: #dce6f4;
	}
	100% {
		fill: #ae3c43;
	}
}

#graph__column__two {
	animation: change-color-graph-two 3s linear 3s infinite alternate;
}

@keyframes change-color-graph-two {
	0% {
		fill: #dce6f4;
	}
	100% {
		fill: #e7515c;
	}
}

#graph__column__three,
#graph__column__four,
#graph__column__five {
	animation: change-color-graph-three 3s linear 1s infinite alternate;
}
#graph__column__four {
	animation: change-color-graph-three 4s linear 2s infinite alternate;
}
#graph__column__five {
	animation: change-color-graph-three 6s linear 1s infinite alternate;
}

@keyframes change-color-graph-three {
	0% {
		fill: #dce6f4;
	}
	100% {
		fill: rgb(241, 177, 125);
	}
}

#graph__column__six,
#graph__column__seven {
	animation: change-color-graph-four 6s linear 1s infinite alternate;
}

@keyframes change-color-graph-four {
	0% {
		fill: #dce6f4;
	}
	100% {
		fill: #508ebc;
	}
}

#light__bulb {
	animation: change-color-bulb 3s linear 1s infinite alternate;
}

@keyframes change-color-bulb {
	0% {
		fill: #ff7f8e;
	}
	25% {
		fill: #ff7f8e;
	}
	50% {
		fill: #fff174;
	}
	100% {
		fill: #fff174;
	}
}
