@import "../../sass/utilities";
@import "../../sass/config";
@import "../../sass/mixins";


.grid__image__gallery {
  display: grid;
  margin: 0 ;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px 16px;
  grid-template-areas:
    "box11 box11 box22 box33"
    "box11 box11 box44 box55";

  img {
    width: 100%;
    height: 100%;
  }
  .box11 {
    grid-area: box11;
  }
  .box22 {
    grid-area: box22;
  }
  .box33 {
    grid-area: box33;
  }
  .box44 {
    grid-area: box44;
  }
  .box55 {
    grid-area: box55;
  }
  @include mq($screen-tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px 8px;
    grid-template-areas:
    "box11 box11"
    "box11 box11"
    "box22 box33"
    "box44 box55";
  }

  @include mq($screen-small) {
    gap: 8px 8px;
  }

}

