@import "../../sass/config";
@import "../../sass/utilities";
@import "../../sass/mixins";

.footer {
  margin: 0 auto;
  max-width: 2000px;
  background-color: $secondary-color;
  .footer__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "footer-child-one"
      "footer-child-two";
    padding-bottom: 40px;
    @include mq($screen-tablet-footer) {
      margin: 0 auto;
      padding-bottom: 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "footer-child-one footer-child-two";
    }

    .footer-child-one {
      grid-area: footer-child-one;
      padding: 40px 0 0 16px;
      h1 {
        font-weight: bold;
        color: white;
        font-size: 3.8em;
        line-height: 1.2;
      }
      h2 {
        color: white;
        font-size: 1.2rem;
        line-height: 2rem;
        padding: $default-padding16 0;
      }
      h3 {
        color: white;
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 0 0 8px 0;
      }
      .footer__icon {
        color: white;
        display: flex;
        padding: $default-padding8 0;

        p {
          padding-left: 16px;
          color: #7f7f7f;
        }
        p:hover {
          color: $primary-color;
          cursor: pointer;
        }
      }
      .footer__social {
        color: white;
        display: flex;
        padding: $default-padding8 0;
        :nth-child(1) {
          margin-right: 16px;
        }
        :nth-child(2) {
          margin-right: 16px;
        }
        :nth-child(3) {
          margin-right: 16px;
        }
        :hover {
          color: $primary-color;
          cursor: pointer;
        }
      }
      .climate-data{
        display: flex;
        align-items: center;
      }
      .climate-data-one{
        padding-right: 10px;
      }
    }

    .footer-child-two {
      grid-area: footer-child-two;
      margin-top: 60px;
      padding: 0 16px;
    }
    @include mq($screen-tablet) {
      .footer-child-two {
        padding: 0 32px;
      }
    }

    .feedback-input {
      color: white;
      font-weight: 500;
      font-size: 18px;
      border-radius: 5px;
      line-height: 22px;
      background-color: transparent;
      border: 2px solid $primary-color;
      transition: all 0.3s;
      padding: 13px;
      margin-bottom: 15px;
      width: 100%;
      box-sizing: border-box;
      outline: 0;
    }

    .feedback-input:focus {
      border: 2px solid $dark-red;
    }

    textarea {
      height: 150px;
      line-height: 150%;
      resize: vertical;
    }

    [type="submit"] {
      width: 100%;
      background: $primary-color;
      border-radius: 5px;
      border: 0;
      cursor: pointer;
      color: white;
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.3s;
      margin-top: -4px;
      font-weight: 700;
    }
    [type="submit"]:hover {
      background: $dark-red;
    }
  }
}
