.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.footer {
  margin: 0 auto;
  max-width: 2000px;
  background-color: #1f2732;
}

.footer .footer__grid {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "footer-child-one" "footer-child-two";
  padding-bottom: 40px;
}

@media only screen and (min-width: 750px) {
  .footer .footer__grid {
    margin: 0 auto;
    padding-bottom: 40px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "footer-child-one footer-child-two";
  }
}

.footer .footer__grid .footer-child-one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-child-one;
  padding: 40px 0 0 16px;
}

.footer .footer__grid .footer-child-one h1 {
  font-weight: bold;
  color: white;
  font-size: 3.8em;
  line-height: 1.2;
}

.footer .footer__grid .footer-child-one h2 {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 16px 0;
}

.footer .footer__grid .footer-child-one h3 {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0 0 8px 0;
}

.footer .footer__grid .footer-child-one .footer__icon {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
}

.footer .footer__grid .footer-child-one .footer__icon p {
  padding-left: 16px;
  color: #7f7f7f;
}

.footer .footer__grid .footer-child-one .footer__icon p:hover {
  color: #508EBC;
  cursor: pointer;
}

.footer .footer__grid .footer-child-one .footer__social {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
}

.footer .footer__grid .footer-child-one .footer__social :nth-child(1) {
  margin-right: 16px;
}

.footer .footer__grid .footer-child-one .footer__social :nth-child(2) {
  margin-right: 16px;
}

.footer .footer__grid .footer-child-one .footer__social :nth-child(3) {
  margin-right: 16px;
}

.footer .footer__grid .footer-child-one .footer__social :hover {
  color: #508EBC;
  cursor: pointer;
}

.footer .footer__grid .footer-child-one .climate-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__grid .footer-child-one .climate-data-one {
  padding-right: 10px;
}

.footer .footer__grid .footer-child-two {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer-child-two;
  margin-top: 60px;
  padding: 0 16px;
}

@media only screen and (min-width: 900px) {
  .footer .footer__grid .footer-child-two {
    padding: 0 32px;
  }
}

.footer .footer__grid .feedback-input {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #508EBC;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.footer .footer__grid .feedback-input:focus {
  border: 2px solid #AE3C43;
}

.footer .footer__grid textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.footer .footer__grid [type="submit"] {
  width: 100%;
  background: #508EBC;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.footer .footer__grid [type="submit"]:hover {
  background: #AE3C43;
}
/*# sourceMappingURL=Footer.css.map */