@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.wrapper {
  max-width: 1200px;
  margin: 32px auto;
  display: grid;
  padding: 0 16px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas:
    "about-child-one"
    "about-child-two"
    "child-three";

  .about-child-one {
    text-align: center;
    .about-logo {
      width: 100%;
    }
    img {
      max-width: 308px;
      height: auto;
    }
  }
  .about-child-two {
    margin: 32px auto;
    h1 {
      font-weight: bold;
      color: $dark-blue;
      font-size: 3rem;
      line-height: 1.2;
      max-width: 760px;
      text-align: center;
    }
  }
  .child-three {
    text-align: center;
    p {
      font-size: 1.125rem;
      line-height: 1.5;
      margin: 0 auto 48px;
      max-width: 432px;
      color: $lighter-black;
    }
  }
}

.about-us-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  margin: 0 auto;
  @include mq($screen-tablet) {
    max-width: 1200px;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "about-child-one" "about-child-two";
  }

  .about-child-one {
    display: flex;
    align-items: center;
    h1 {
      font-weight: bold;
      color: $dark-blue;
      font-size: 3rem;
      padding: 0 32px;
      line-height: 1.2;
      text-align: center;
      @include mq($screen-tablet) {
        font-size: 2.6rem;
      }
      @include mq($screen-small) {
        padding: 0 16px;
      }
    }
  }
  .about-child-two {
    display: flex;
    align-items: center;
    .about-logo {
      max-width: 500px;
      height: auto;
      margin: 32px auto 0;
      padding: 0 16px;
    }
    img {
        width: 100%;
        height: auto;
    }
    @include mq($screen-tablet) {
      .about-logo {
        padding: 0;
      }
    }
  }
}
