@import "../../sass/config";
@import "../../sass/mobile";
@import "../../sass/utilities";
@import "../../sass/mixins";

.wrapper {
  max-width: 1200px;
  background-image: url('../../assets/about/about-us-background-red-darker.jpg');
  height: 450px;
  background-attachment: fixed;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: grid;
  padding: 0 16px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  
  grid-template-areas:
    "about-child-one"
    "about-child-two";
  @include mq($screen-card_special) {
    background-image: none;
    height: 300px;
    
  }

  .about-child-one {
    text-align: center;
    .about-logo {
      width: 100%;
    }
    img {
      max-width: 308px;
      height: auto;
    }
  }
  .about-child-two {
    margin: 10px auto;
    h1 {
      font-weight: bold;
      color: $light-white;
      font-size: 2rem;
      line-height: 1.2;
      max-width: 600px;
      text-align: left;
      padding-top: 24px;
      @include mq($screen-card_special) {
        color: $dark-blue;
      }
    }
  }
  .child-three {
    text-align: center;
    p {
      font-size: 1.125rem;
      line-height: 1.5;
      margin: 24px auto 48px;
      max-width: 432px;
      color: $light-white;
      @include mq($screen-card_special) {
        color: $lighter-black;
      }
    }
  }
}

.about-us-info {
  display: grid;
  margin: 0 auto;
  margin-bottom: 200px;
  padding-top: 48px;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, 223px);

  @include mq($screen-small) {
    max-width: 1200px;
    padding: 40px 0;
    margin-bottom: 32px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    grid-template-areas: "about-child-one" "about-child-two";
  }
  @include mq($screen-card_special) {
    margin-bottom: 60px;

  }
  .about-child-one {
    display: block;
    align-items: center;
    margin-bottom: 10px;
   
    @include mq($screen-card_special) {
      margin-bottom: 80px;
    }
    h1 {
      font-weight: bold;
      color: $dark-blue;
      font-size: 2rem;
      padding: 0 32px;
      line-height: 1.2;
      text-align: center;
      @include mq($screen-tablet) {
        font-size: 2.6rem;
      }
      @include mq($screen-small) {
        padding: 0 16px;
      }
    }
  }
  .about-child-two {
    display: flex;
    align-items: center;
    text-align: justify;
    position: relative;
    font-size: 1rem;
    line-height: 0.9em;
    margin-top: 240px;
     @include mq($screen-small) {
       margin-top: 0px;
    }
    .about-logo {
      max-width: 500px;
      height: auto;
      margin: 32px auto 0;
      padding: 0 16px;
    }
    img {
        width: 100%;
        height: auto;
    }
    @include mq($screen-tablet) {
      .about-logo {
        padding: 0;
      }
    }
  }
}
